/* Responsive!*/

/*Tablet*/
@media (max-width: 912px) {
      main {
            height: 82%;
            flex-direction: column;
            justify-content: center;
      }

      .section1 {
            width: 90%;
            height: 70%;
            margin-left: auto;
            margin-bottom: 2rem;
      }

      .button {
            width: 21vw;
      }

      .container-btn {
            justify-content: space-around;
      }

      #copiar {
            top: 75.5%;
            left: 39.5%;
      }

      .section2 {
            width: 90%;
            height: 50%;
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 5%;
      }

      .output {
            height: 0;
            margin-top: 2rem;
            margin-bottom: 1rem;
            padding-bottom: 300px;
            /**/
      }

      .container-pj {
            display: none;
      }

}

/*Movil device*/
@media (max-width: 414px) {
      .section1 {
            margin-bottom: 4rem;
      }

      .container-btn {
            flex-direction: column;
            align-items: center;
      }

      .button {
            width: 80vw;
            margin-bottom: 1rem;
      }

      #copiar {
            top: 76.5%;
            left: 10%;
      }
}