/*Base Desktop*/

body {
      height: 100vh;
      background-color: #EFF1FA;
      transition: .4s;
}

header {
      width: 100%;
      height: 70px;
}

.logo {
      margin-top: 1em;
}

main {
      width: 100%;
      height: calc(100vh - 120px);
      display: flex;
      justify-content: center;
}

section {
      width: 100%;
      height: 90%;
}

.section1 {
      width: 50%;
      margin: auto;
      margin-top: 2rem;
      margin-left: 15%;
}

#area {
      width: 100%;
      height: 70%;
      display: block;
      margin: auto;
      margin-top: 1rem;
      resize: none;
      background: transparent;
      border: none;
      outline: none;
      color: #0A3871;
      font-size: 2.5em;
}

::placeholder {
      color: #0A3871;
}

label {
      width: 80%;
      margin: auto;
      color: #495057;
}

.container-btn {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
}

.button {
      width: 18vw;
      height: 35px;
      border-radius: 50px;
      border-color: #0A3871;
      transition: 0.3s;
}

.button:hover {
      transform: scale(1.1);

}

.button:active {
      border-color: #D8DFE8;
}

#encriptar {
      color: #EFF1FA;
      background-color: #0A3871;
}

#desencriptar {
      color: #0A3871;
      background-color: #E9ECF8;
}

#encriptar:active,
#desencriptar:active {
      color: #ADB5BD;
}

.section2 {
      width: 25%;
      height: 100%;
      background-color: white;
      border-radius: 20px;
      margin-top: -2.5%;
      margin-right: 10%;
      margin-left: 10%;
      box-sizing: content-box;
      overflow: auto;
}

.container-pj {
      width: 100%;
      height: auto;
}

#pj {
      width: 80%;
      height: auto;
      display: block;
      margin-top: 20%;
      margin-bottom: 20%;
      margin-left: auto;
      margin-right: auto;
}

.container-h2 {
      width: 100%;
      text-align: center;
      padding: 0;
      padding-top: 1rem;
      margin: 0;
}

h2 {
      color: #343A40;
      font-weight: bold;
      font-size: 1.5em;
}

.container-p {
      width: 100%;
      text-align: center;
      padding-top: 1rem;
      font-size: 1em;
      overflow: hidden;
}

.output {
      width: 100%;
      height: 70%;
      margin-top: 20%;
      text-align: center;
}

.output-txt {
      width: 100%;
      height: 85%;
      box-sizing: border-box;
      margin-top: 1rem;
      padding: 10px;
      word-wrap: break-word;
}

.copiar-btn {
      width: 100%;
      height: 20%;
      align-self: center;
      justify-content: center;
      height: auto;

}

#copiar {
      margin-top: 1.7rem;
      color: #0A3871;
      background-color: #CED4DA;
      position: absolute;
      top: 70%;
      left: 70%;
}

#copiar:active {
      color: #F3F5FC;
}

footer {
      width: 100%;
      height: 50px;
      background-color: #0A3871;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #EFF1FA;
      font-size: larger;
}

.hide {
      display: none;
}

.icon {
      color: #AAB2D5;
      transition: 0.3s;
      margin: 0 5px;
      padding: 5px;
}

.icon:hover {
      color: #495057;
}

.icon:active {
      color: white;
      border: 1px solid #D8DFE8;
      border-radius: 5px;
      background-color: rgba(216, 223, 232, .2);
}

/* Responsive!*/


/*Tablet*/

@media (max-width: 912px) {

      /*fix Posc Logo at max 860px*/

      main {
            height: 82%;
            flex-direction: column;
            justify-content: center;
      }

      .section1 {
            width: 90%;
            height: 70%;
            margin-left: auto;
            margin-bottom: 2rem;
      }

      .button {
            width: 21vw;
      }

      .container-btn {
            justify-content: space-around;

      }

      /*.copiar-btn {
            height: auto;
            position: absolute;
            top: 75.5%;
            left: 0%;
      }*/

      #copiar {
            top: 75.5%;
            left: 39.5%;
      }

      .section2 {
            width: 90%;
            height: 50%;
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 5%;
      }

      .output {
            height: 0;
            margin-top: 2rem;
            margin-bottom: 1rem;
            padding-bottom: 300px;
            /**/
      }

      .container-pj {
            display: none;
      }

}

/*Movil device*/

@media (max-width: 414px) {
      .section1 {
            margin-bottom: 4rem;
      }

      .container-btn {
            flex-direction: column;
            align-items: center;
      }

      .button {
            width: 80vw;
            margin-bottom: 1rem;
      }

      #copiar {
            top: 76.5%;
            left: 10%;
      }
}

/* Dark mode */
.toggle {
      display: flex;
      justify-content: center;
}

.input {
      visibility: hidden;
}

.label {
      position: absolute;
      top: 15px;
      width: 50px;
      height: 30px;
      background-color: #87ceeb;
      border-radius: 20px;
      box-shadow: inset 0px 5px 15px rgba(0, 0, 0, .4);
      cursor: pointer;
}

.circle {
      width: 24px;
      height: 24px;
      background-color: #FDDA0D;
      border-radius: 50%;
      box-shadow: inset 5px 5px 10px rgba(213,171,9, .9);
      position: absolute;
      top: 3px;
      left: 3px;
      animation: toggleOff .4s linear forwards;
}

.input:checked+.label {
      background-color: #343A40;
}

.input:checked + .label .circle{
      animation: toggleOn .4s linear forwards;
      background-color: #F3F5FC;
      box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .9);
}

@keyframes toggleOn {
      0% {
            transform: translateX(0px);
      }

      100% {
            transform: translateX(20px);
      }
}

@keyframes toggleOff {
      0% {
            transform: translateX(20px);
      }

      100% {
            transform: translateX(0px);
      }
}
